@page "/"

<div class="titleAndBrand">
    <img src="brand.png" width="50" height="50" />
    <span style="margin-left: 10px" class="h1">Squares Blazor Game App</span>
</div>

<ul style="font-size: 18px">
    <li><a href="squaresgame">Play Squares</a></li>
</ul>
